:root {
    color-scheme: light;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Figtree, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@media print {
    aside,
    header,
    .print\:hidden {
        display: none !important;
    }

    main {
        padding: 0 !important;
    }

    body {
        background: #fff !important;
    }
}
